<main class="card-main card-table">
  <p id="notice"><%= notice %></p>

  <a href="https://www.youtube.com.br" data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>

  <h1 class='title-page'>Vincular Aluno</h1>

  <%= email_field_tag :email, nil, class:"form-control text-field text-email-associate", placeholder: "email do aluno.." %>
  <%= link_to 'Vincular', new_class_group_path, class: 'btn-associate btn-new-item' %>
</main>