<main class="card-main">
  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Pendente</h3>
    </div>
    <div class="status-body">
      <div class="card-task">
        <a href="http://www.google.com">
          <div>
            <span class="card-class status-pending">T874ME</span>
            <h4 class="card-title">Título da Tarefa</h4>
            <span class="card-date">23/11/2020</span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Em Andamento</h3>
    </div>
    <div class="status-body">
      <div class="card-task">
        <a href="#">
          <div>
            <span class="card-class status-progress">T874ME</span>
            <h4 class="card-title">Título da Tarefa</h4>
            <span class="card-date">23/11/2020</span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Concluído</h3>
    </div>
    <div class="status-body">
      <div class="card-task">
        <a href="#">
          <div>
            <span class="card-class status-done">T874ME</span>
            <h4 class="card-title">Título da Tarefa</h4>
            <span class="card-date">23/11/2020</span>
          </div>
        </a>
        <a href="#"><span class="remove-task">X</span></a>
      </div>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name"><%= last_column_name %></h3>
    </div>
    <div class="status-body">
      <div class="card-task">
        <a href="http://www.google.com.br">
          <div>
            <span class="card-class status-not-completed">T874ME</span>
            <h4 class="card-title">Título da Tarefa</h4>
            <span class="card-date">23/11/2020</span>
          </div>
        </a>
        <a href="https://www.youtube.com.br"><span class="remove-task">X</span></a>
      </div>
    </div>
  </section>
</main>