<main class="card-main card-table">
  <% if flash[:notice] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <a href=<%= admin_classes_path(current_user) %> data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <div class="content-intern">
   <h1 class='title-page title-task'>Criar Turma</h1>

    <%= render 'form', class_group: @class_group %>
  </div>
</main>
