/*
 *= require_tree .
 *= require_self
 */

 .navbar-brand {
  padding: 0 0 0 2em;
  font-size: 28px;
  margin-right: 1em;
 }

 .navbar-default {
  height: 5em;
}

.nav-menu-item {
  font-size: 22px;
  margin-top: -0.6em;
}