// Place all the styles related to the ClassGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.class-list {
  display: inline-block;
}

.table-class {
  width: 92%;
  margin: 3em auto 0 auto;
}

.header-table {
  background: #C4C4C4;
}

.title-class {
  margin-left: 2em;
}

.body-table {
  background: rgba(196, 196, 196, 0.15);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.btn-view-class {
  background: rgba(217, 217, 217, 0.8);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}

.btns-content {
  display: flex;
  padding: 0 30em;
}

.btn-new-class {
  background: #D11919;
  border-radius: 5px;
  width: 13em;
  height: 4em;
  display: flex;
  margin: 7em auto auto auto;
  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-left: 4em;
}

.btn-new-student {
  background: #D9D9D9;
  border-radius: 5px;
  width: 13em;
  height: 4em;
  display: flex;
  margin: 7em auto auto auto;
  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-left: 3.5em;
}

.btn-new-student:hover {
  color: #000;
  background-color: #c4c4c4;
}