// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  height: 100%;
  width: 100%;
  padding: 2em;
  position: absolute;
}

.navbar-brand {
  padding: 0 0 0 2em;
  font-size: 28px;
  margin-right: 1em;
 }

.navbar-default {
  height: 5em;
}

.nav-menu-item {
  font-size: 22px;
  margin-top: -0.6em;
}

.align-columns {
  display: flex;
}

.status-column {
  position: relative;
  width: 20%;
  height: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 2px;
  display: inline-block;
}

.status-header {
  position: relative;
  width: 100%;
  height: 4em;
  background: rgba(209, 25, 25, 0.75);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
}

.status-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 3em;
  align-items: center;
  color: #FFFFFF;
  position: absolute;
  left: 2em;
  font-weight: 500;
  margin: auto;
}

.status-body {
  width: 100%;
  max-height: 92%;
  min-height: 92%;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(9,30,66,.08);; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.card-task {
  position: relative;
  width: 96%;
  height: 10em;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto auto 0.5em auto;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.1);
}

.card-title {
  // font-family: Roboto;
  // font-style: normal;
  // font-weight: 900;
  font-size: 19px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #000000;
  // margin-left: 0.5em;
  // padding-bottom: 0.5em;
  margin: 0.5em auto auto 0.5em;
}

.card-class {
  border-radius: 6px;
  padding: 0.4em 01em;
  font-weight: 600;
  display: inline-block;
  margin: 0.5em;
  color: #262626;
}

.status-pending {
  background: rgba(249, 107, 19, 0.5);
}

.status-progress {
  background: rgba(255, 202, 4, 0.5);
}

.status-done {
  background: rgba(73, 204, 144, 0.5);
}

.status-not-completed {
  background: rgba(209, 25, 25, 0.5);
}

.card-date {
  right: 1em;
  bottom: 1em;
}

.remove-task {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  font-size: 1.5em;
}

.div-card-task{
  box-sizing: content-box;
  min-width: 96%;
  max-width: 96%;
  position: relative;
  min-height: 8em;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto auto 0.5em auto;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.1);
}

.card-footer {
  display: flex;
  margin: 1em 1em auto auto;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}
