// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-table-red {
  background-color: #d11919;
}

.btns-content {
  display: flex;
  padding: 0 30em;
}

.btn-new-student {
  background: #D9D9D9;
  border-radius: 5px;
  width: 13em;
  height: 4em;
  display: flex;
  margin: 7em auto auto auto;
  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-left: 3.5em;
}

.btn-new-student:hover {
  color: #000;
  background-color: #c4c4c4;
}

.top-panel {
  justify-content: space-between;
  display: flex;
}

.title-task {
  display: inline-block;
}

.section-task {
  display: inline-block;
  margin: 4.5em auto auto auto;
}

.field-task {
  display: inline-block;
}

.code-class {
  font-size: 18px;
}

.span-task {
  margin-left: 1em;
  font-size: 16px;
}

.content-body-response {
  display: inline-flex;
  width: 100%;
  min-height: 35em;
  max-height: 35em;
  position: absolute;
}

.description-task {
  display: flex;
  flex-direction: column;
  margin: 3em auto auto 5.5em;
}

.description-task-text {
  font-size: 20px;
  font-family: Mixed;
  text-indent: 2em;
  margin: 0 0 1em 0;
}

.response-user-task {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-left: 5.5em;
}

.section-alterar-status {
  width: 20%;
  position: relative;
  margin: auto auto 14em auto;;
}

.btn-alterar {
  margin: 2em auto auto auto;
  padding-left: 5em;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}

.annotation-task {
  background: #FFFFFF;
  border: 1px solid #000000;
  display: inline-block;
  width: 100%;
  height: 14em;
  margin: auto;
  padding-bottom: 10em;
  padding-left: 1em;
  font-size: 18px;
  position: relative;
}

.status-task {
  min-width: 95%;
  max-width: 95%;
  height: 5em;
  margin: auto 0.5em;
}

.footer-task {
  display: block;
  width: 100%;
  height: 12em;
  position: absolute;
  margin: 22.2em auto auto auto;
}

.upload-task {
  position: relative;
  margin: 4em auto;
}

.text-button-response {
  padding-left: 3em;
}

.btn-alterar-response {
  padding-left: 7em;
}

.upload-response{
  margin: 0 0 auto 0;
}

.div-card-task{
  // width: 96%;
  // height: 10em;
  // border:2px solid black;
  // padding:10px;
  // box-sizing: border-box;

  box-sizing: content-box;
  min-width: 96%;
  max-width: 96%;

  position: relative;
  min-height: 8em;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto auto 0.5em auto;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.1);
}

.card-footer {
  display: flex;
  margin: 1em 1em auto auto;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}
