// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btns-content {
  display: flex;
  padding: 0 30em;
}

.btn-new-student {
  background: #D9D9D9;
  border-radius: 5px;
  width: 13em;
  height: 4em;
  display: flex;
  margin: 7em auto auto auto;
  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #666666;
  padding-left: 3.5em;
}

.btn-new-student:hover {
  color: #fff;
  background-color: #c4c4c4;
}

.top-panel {
  justify-content: space-between;
  display: flex;
}

.title-task {
  display: inline-block;
  font-size: 36px;
}

.input-title {
  padding: 0.5em;
}

.section-task {
  display: inline-block;
  margin: 4.5em auto auto 4em;
}

.field-task {
  display: inline-block;
}

.data-field-expiration {
  font-size: 16px;
}

.span-task {
  margin-left: 1em;
  font-size: 16px;
}

.content-body {
  display: inline-flex;
  width: 100%;
  min-height: 21em;
  max-height: 21em;
  position: absolute;
}

.item-description {
  margin-bottom: 0;
}

.description-task {
  display: flex;
  flex-direction: column;
  margin: 1em auto auto 5.5em;
}

.input-text-task {
  width: 90%;
  height: 10em;
  margin-left: -2em;
  padding-bottom: 8em;
  text-indent: 2em;
}

.description-task-text {
  font-size: 20px;
  font-family: Mixed;
  text-indent: 2em;
}

.section-alterar-status {
  width: 20%;
  position: relative;
  margin: 2em auto auto auto;
  height: 100%;
}

.btn-alterar {
  margin: 2em auto auto auto;
  padding-left: 4em;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}

.annotation-task {
  background: #FFFFFF;
  border: 1px solid #000000;
  display: inline-block;
  width: 100%;
  height: 14em;
  margin: auto;
  padding-bottom: 10em;
  padding-left: 1em;
  font-size: 18px;
  position: relative;
}

.status-task {
  width: 95%;
  height: 3em;
  margin: 0.5em;
  font-size: 18px;
}

.footer-task {
  display: block;
  width: 100%;
  height: 12em;
  position: absolute;
  margin: 22.2em auto auto auto;
}

.upload-task {
  position: relative;
  margin: auto;
}

.text-button-task {
  padding-left: 2em;
}

.section-response-user {
  display: flex;
  width: 50%;
  height: 21em;
  margin: auto;
}

.code-class {
  font-size: 18px;
}

.response-description-task{
  width: 60%;
  min-height: 8em;
  max-height: 14em;
}

.response-upload-task {
  margin-right: 15em;
}

.response {
  display: flex;
}

.observation-responsible {
  margin-top: 1em;
}

.drop-class-code {
  width: 10%;
  height: 3em;
  margin: 3em 0 0 auto;
  font-size: 18px;
}

.section-task-create-task {
  display: inline-block;
    margin: 4.5em auto auto 10em;
}

.top-panel-create-task {
  width: 90.3%;
  justify-content: space-between;
  display: flex;
}

.content-body-create-task {
  display: inline-flex;
  width: 100%;
  min-height: 14em;
  max-height: 14em;
  position: absolute;
}

.section-create-task {
  width: 20%;
  position: relative;
  height: 100%;
  margin: auto;
}

.btn-create-task {
  margin: auto;
  position: relative;
  min-width: 100%;
  max-width: 100%;
}

.btn-new-item-create-task {
  background: #D11919;
  border-radius: 5px;
  width: 13em;
  height: 4em;

  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.btn-associate-user {
  background: #D11919;
  border-radius: 5px;
  width: 13em;
  height: 4em;
  font-family: Roboto;
  font-size: 25px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: auto;
}
