// Place all the styles related to the Person controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-email-associate {
  width: 40%;
  height: 2.5em;
  margin: 8em auto auto auto;
}

.btn-associate {
  padding-left: 4em;
  margin: 5em auto 50% 42%;
}

.select-profile {
  width: 100%;
  height: 3em;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 0;
}
